html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*{
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
a {text-decoration: none;} a:visited{color: #80bdff}

.container {margin: 0 auto; padding: 0;}
.container-mini {width: 80%; margin: 0 auto; padding: 0;}


.row {width: 100%; display: flex; margin-bottom: 10px}

.col-1 {width: 8.33%;}  .col-2 {width: 16.66%;}  .col-3 {width: 25%;}  .col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}  .col-6 {width: 50%;}  .col-7 {width: 58.33%;}  .col-8 {width: 66.66%;}
.col-9 {width: 75%;}  .col-10 {width: 83.33%;}  .col-11 {width: 91.66%;}  .col-12 {width: 100%;}

.left {display: block; float: left}  .center {display: block; margin: auto;}  .right {display: block; float: right}

.color-red{background: red;} .text-red{color: red;}
.color-green{background: #32cd32;} .text-green{color: #32cd32;}
.color-blue{background: #2878e1;} .text-blue{color: #2878e1;}
.color-yellow{background: #ffff00;} .text-yellow{color: #ffff00;}
.color-pink{background: #ff69b4;} .text-pink{color: #ff69b4;}
.color-gray{background: #808080;} .text-gray{color: #808080;}
.color-light-gray{background: #dcdcdc;}  .text-light-gray{color: #dcdcdc;}
.color-dim-gray{background: #575757;}  .text-dim-gray{color: #575757;}
.color-white{background: #ffffff;} .text-white{color: #ffffff;}
.color-black{background: #000000;} .text-black{color: #000000;}
.color-teal{background: #008080;}  .text-teal{color: #008080;}

.button {padding: 5px 15px; border: none; box-shadow: 2px 1px 6px 0 #808080;}

.hr-1{border: 1px solid #778899; margin-bottom: 10px;}
.hr-2{border: 2px solid #778899; margin-bottom: 10px;}

.heading{display: block; width: 100%; background: #d3d3d3; border-bottom: 1px solid #b3b3b3; padding: 10px;}

.icon-small{width: 22px; height: 22px;} .icon-medium{width: 32px; height: 32px;} .icon-large{width: 46px; height: 46px;}

.margin-5{margin: 5px}  .margin-10{margin: 10px}  .margin-15{margin: 15px}  .margin-20{margin: 20px}
.padding-5{padding: 5px}  .padding-10{padding: 10px}  .padding-15{padding: 15px}  .padding-20{padding: 20px}

.text-small{font-size: small;} .text-x-small{font-size: x-small;}
.text-left{text-align: left}  .text-center{text-align: center}  .text-right{text-align: right} .text-justify{text-align: justify}




@media (max-width: 575px) {
    body {background: lightslategrey;}
    .container {width: 98%}
    .container-mini {width: 98%}
    .row {display: block}
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {width: 100%; margin-bottom: 10px}
}

@media (min-width: 576px) and (max-width: 768px) {
    .container {width: 90%}
    .container-mini {width: 90%}
}

@media (min-width: 769px) and (max-width: 991px) {
    .container {width: 90%}
}

@media (min-width: 992px) and (max-width: 1199px) {  }

@media (min-width: 1200px) {  }